*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("./images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.picture{
    height: 40px;
    width: 40px;
    padding: 10px;
    
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(141, 138, 138);
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 90px;
    color: white;
    line-height: 110px;
    float: left;
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: gray;
    font-weight: 400;
    margin-right: 15px;
}
.music{
    height: 80px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
}
@media only screen and (max-width:770px){
    .body{
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .content{
        width: 100%;
        position: inline;
        
    }
    .left-col{
        margin-left: 6%;
    }
    .right-col{
        float: right;
        margin-right: 6%;
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .left-col h1{
        font-size: 50px;
        color: white;
        line-height: 80px;
        float: left;
    }
}
@media only screen and (max-width:600px){
    html {
        overflow: hidden;
    }
    body {
        width: 100% !important;
        height: 100% !important;
        display: block;
        position: cover;
        overflow-x: hidden;
        position: fixed;
    }
    .hidden-thing {
        position: fixed;
        left: 70%;
        width: 20px;
        height: 50px;
        opacity: 0;
      }
      .logo{
        width: 20px;
        height: 20px;
    }
    .content{
        width: 100%;
        position: inline;
        
    }
    .navbar{
        width: 50%;
        margin: auto;
        padding: 1px !important;
        display: inline;
    }
    .left-col{
        margin-left: 6%;
    }
    .right-col{
        float: right;
        margin-right: 6%;
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .left-col h1{
        font-size: 30px;
        color: white;
        line-height: 80px;
        float: left;
    }
    .right-col p{
        font-size: 10px;
        color: gray;
        font-weight: 200;
        margin-right: 8px;
    }
    .music{
        height: 30px;
        width: 30px;
        padding: 5px;
        cursor: pointer;
    }
}